<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="assets/img/ica-slidebox-img-2.png">
              </ion-thumbnail>       
          <ion-label>
            <h2><strong>马云</strong></h2>               
            <p>蜜蜂号:mayun</p>
          </ion-label>
          <ion-icon name="barcode" slot="end">                    
            </ion-icon>
        </ion-item>
        <ion-item-divider color="slive">           
          </ion-item-divider>
        <ion-item>
            <ion-icon name="paper" slot="start">                    
              </ion-icon>
              <ion-label>Password</ion-label>
        </ion-item>
      
        <ion-item>
            <ion-icon name="person" slot="start">                    
              </ion-icon>
              <ion-label>Password</ion-label>
        </ion-item>      
      </ion-list>
</ion-content>
