<ion-content>
<ion-list lines="full">    
  <ion-item>
      <ion-thumbnail slot="start">
          <img src="assets/img/ica-slidebox-img-2.png">
        </ion-thumbnail>       
        <ion-badge class="badgePos" color="danger">66</ion-badge>
    <ion-label>
      <h2><strong>爱马仕-北京集团公司</strong></h2>               
      <p>收到您的简历</p>
    </ion-label>
    <ion-label color="medium" slot="end" text-end>
        <h3>昨天</h3>        
      </ion-label>
  </ion-item>
  <ion-item>
      <ion-thumbnail slot="start">
          <img src="assets/img/ica-slidebox-img-2.png">
        </ion-thumbnail>
        <ion-badge class="badgePos" color="danger">1</ion-badge>
    <ion-label>
      <h2><strong>小巨人-北京集团公司</strong></h2>               
      <p>收到您的简历</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
