.mynav{
    ion-label{
        font-size: 12px;
    }
}
.slides{
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.slides-ios {
    --bullet-background: var(--ion-text-color-step-800, #cccccc);
    --bullet-background-active: var(--ion-color-primary, #3880ff);
    --progress-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --progress-bar-background-active: var(--ion-color-primary-shade, #3171e0);
    --scroll-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --scroll-bar-background-active: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
.slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}