//@import "../../theme/variables.scss";

.mynav{
    ion-label{
        font-size: 12px;
    }
}
.slideDisplay{
    display: block;    
}

.slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}
.spinP{
    height: 10px;
}

.warning{
    color: var(--ion-color-warning);
}